:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'work sans', sans-serif;
    min-height: 4000px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bunga.jpg);
    filter: brightness(50%);
    background-size: cover;
    min-height: 100vh;
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh;

}

.hero h1,
.hero h4,
.hero p {
    text-shadow: white 0px 0px 5px;
}

.hero h1 {
    font-family: 'sacramento', cursive;
    font-size: 6rem;
    color: var(--pink);
}

.hero h4 {
    font-size: 1.6rem;
    color: var(--bg);
}

.hero p {
    font-size: 1.4rem;
    color: var(--bg);
}

.hero a {
    color: var(--pink);
    background-color: transparent;

}

.hero a:hover {
    background-color: white;
    color: var(--pink);
    opacity: 70%;
    box-shadow: var(--shadow);
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(2px);
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
    font-family: 'sacramento', cursive;
    font-size: 2rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

.mynavbar .offcanvas {
    height: 100vh;
    width: 100%;
}

.home {
    background-image: url(img/bunga\ 2.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 25rem;
    padding-bottom: 5rem;

}

.home h2,
.info h2,
.story h2 {
    color: var(--pink);
    font-family: 'sacramento', cursive;
    font-size: 5rem;
    font-weight: bold;
}

.home h3 {
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    color: #666;
    font-size: 1.1rem;
}

.home .couple {}

.home .couple h2 {
    font-family: 'sacramento';
    font-size: 3rem;
    color: var(--pink);
}

.home .couple img {
    width: 100%;
}

.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.home .heart i {
    margin: auto;
    color: var(--pink);
}

.home .couple h3 {
    font-family: 'sacramento';
    font-size: 2.4rem;
    color: var(--pink);
}

.home a {
    color: var(--pink);
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.info {
    background-color: var(--bg);
    background-size: cover;
    min-height: 100vh;
    color: white;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.info .alamat {
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 200;
}

.info .card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border: 1px solid #999;
}

.info .card-header {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body {
    font-size: 1rem;
}

.info .card-footer {
    border-top: 1px solid #999;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 200;
}

.story {
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.story span {
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.story p {
    font-size: 1rem;
    font-weight: 300;
}

.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}

.timeline li {
    position: relative;
    margin-bottom: 1.5rem;
}

.timeline li::before,
.timeline li::after {
    content: "";
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
    background-color: #fff;

}

.timeline li .timeline-panel::before {
    content: "";
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-left: 15px solid #ccc;
    top: 80px;
    right: -15px;
}

.timeline li .timeline-panel::after {
    content: "";
    display: inline-block;
    position: absolute;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 0 solid #fff;
    border-left: 14px solid #fff;
    top: 81px;
    right: -14px;
}

/*media query*/
/* Extra Large */
@media (max-width: 1200px) {
    .home .heart {
        transform: translateX(-50%)translateY(45px);
    }

}

/*laptop*/
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    .home .heart {
        display: none;
    }
}


/*tablet*/
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }
}

.sticky-top {
    overflow: hidden;
}

/*mobile*/
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }
}