:root{
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body{
    font-size: 1.2rem;
    font-family: 'work sans', sans-serif;
    min-height: 4000px;
}

.hero::before{  
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bunga.jpg);
    background-size: cover;
    min-height: 100vh;
z-index: -1;
}

.hero{
    position: relative;
    min-height: 100vh;

}

.hero h1, .hero h4, .hero p{
    text-shadow: var(--shadow);
}

.hero h1{
font-family: 'sacramento', cursive;
font-size: 6rem;
color: var(--bg);
}

.hero h4{
    font-size: 1.6rem;
    color: var(--bg);
}

.hero p{
    font-size: 1.4rem;
    color: var(--bg);
}

.hero a{
    color: var(--pink);
    background-color: transparent;
    
}

.hero a:hover{
    background-color: white;
    color: var(--pink);
    opacity: 70%;
box-shadow: var(--shadow);
}

.mynavbar{
 background-color: rgba(255, 255, 255, 0.7) !important;
 backdrop-filter: blur(2px);
}

.mynavbar .navbar-brand,.mynavbar .offcanvas-title{
    font-family: 'sacramento', cursive;
    font-size: 2rem;
    font-weight: bold;
}

.mynavbar .nav-link{
    text-transform: uppercase;
}

.mynavbar .offcanvas{
    height: 100vh;
}

.home {
    background-image: url(img/bunga\ 2.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 25rem;
    padding-bottom: 5rem;
        
}

.home h2{
    color: var(--pink);
    font-family: 'sacramento', cursive;
    font-size: 5rem;
    font-weight: bold;
}

.home h3{
    color: #444;
    font-size:1.5rem;
    margin-bottom: 1rem;
}

.home p{
    color: #666;
    font-size: 1.1rem;
}
.home .couple{

}

.home .couple h2{
    font-family: 'sacramento';
    font-size: 3rem;
    color: var(--pink);
}

.home .couple img{
 width: 100%;
}

.home .couple h3 {
    font-family: 'sacramento';
    font-size: 2.4rem;
    color: var(--pink);
}

/*media query*/
/*laptop*/
@media (max-width: 992px){
 html{
    font-size: 75%;
 }
}


/*tablet*/
@media (max-width: 768px){
 html{
    font-size: 65%;}
    .mynavbar .nav-link{
        font-size: 2rem;
        text-align: center;
    }
 }

/*mobile*/
@media (max-width: 576px){
 html{
    font-size: 60%;}
 }